#/------------------!DOTENV_PRIVATE_KEYS!-------------------/
#/ private decryption keys. DO NOT commit to source control /
#/     [how it works](https://dotenvx.com/encryption)       /
#/----------------------------------------------------------/

# .env
DOTENV_PRIVATE_KEY=

# .env.stg
DOTENV_PRIVATE_KEY_STG=

# .env.prod
DOTENV_PRIVATE_KEY_PROD=
